@font-face {
    font-family: 'Circe Rounded';
    src: local('Circe Rounded Regular'), local('Circe-Rounded-Regular'),
        url('CirceRounded-Regular.woff2') format('woff2'),
        url('CirceRounded-Regular.woff') format('woff'),
        url('CirceRounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }