@import url(/static/css/fonts/CirceRounded-Regular/style.css?e793e001a00e);
@import url(/static/css/fonts/Museo-500/style.css?0ce88752c0e7);
/* line 10, static/css/style.scss */
body {
  font-family: Circe Rounded, sans-serif; }

/* line 14, static/css/style.scss */
.header {
  height: 80px;
  border-bottom: 2px solid #CDCDCD; }
  /* line 18, static/css/style.scss */
  .header__logo {
    width: 189.26px;
    height: 72px; }
  /* line 23, static/css/style.scss */
  .header__link {
    font-size: 22px;
    color: #010101; }
  /* line 29, static/css/style.scss */
  .header__add-button {
    background-color: #315AF2;
    color: #fff;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 19px; }
  /* line 37, static/css/style.scss */
  .header__add_button:hover {
    color: #fff; }

/* line 43, static/css/style.scss */
.line_separator {
  border: 2px solid #CDCDCD; }

/* line 48, static/css/style.scss */
.banner__image {
  width: 464px;
  height: 422px;
  margin-right: 180px; }

/* line 55, static/css/style.scss */
.banner__text-block li {
  border: 0; }

/* line 59, static/css/style.scss */
.banner__text-block li:first-child {
  font-size: 16px;
  line-height: 20px;
  color: #E9399C;
  letter-spacing: -0.416667px; }

/* line 66, static/css/style.scss */
.banner__text-block li:nth-child(2) {
  font-family: Museo Cyrl, 'serif';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 128%;
  display: flex;
  align-items: center;
  letter-spacing: -0.416667px;
  color: #315AF2; }
