@import url(/static/css/fonts/CirceRounded-Regular/style.css?e793e001a00e);
/* line 5, static/css/style.scss */
.header {
  height: 80px; }
  /* line 8, static/css/style.scss */
  .header__logo {
    width: 189.26px;
    height: 72px; }
  /* line 13, static/css/style.scss */
  .header__link {
    width: 46px;
    height: 28px;
    left: 269px;
    top: 99px;
    font-family: Circe Rounded, sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #010101; }
