@import url(/static/css/fonts/CirceRounded-Regular/style.css?e793e001a00e);
/* line 7, static/css/style.scss */
.header {
  height: 80px; }
  /* line 10, static/css/style.scss */
  .header__logo {
    width: 189.26px;
    height: 72px; }
  /* line 15, static/css/style.scss */
  .header__link {
    font-family: Circe Rounded, sans-serif;
    font-size: 22px;
    color: #010101; }
