{% extends 'blog/base.html' %}>
{% load static %}
{% load bootstrap4 %}
{% block banner %}{% endblock %}
{% block content %}
    <div class="container article w-50 mt-5 mb-5">
            <div class="row">
                <div class="col">
                    <h1>{{ object.title }}</h1>
                    <p>Опубликована: {{ object.pub_date }}</p>
                    <p class="text-center"><img src="{% get_media_prefix %}{{ object.image }}" alt="{{ object.title }}" class="img-fluid w-75"></p>
                    <p>{% autoescape off %}{{ object.content }}{% endautoescape %}</p>
                </div>
            </div>
        </div>
{% endblock %}